@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
}

/* body */
/* General styles */
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    /* Generic project style*/
    font-family: 'Inter', sans-serif;
  }
  header h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#363737;
    font-size: 140%;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #363737;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #363737;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* header*/
header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    background-color: white;

}

/*main*/
.margin-top {
    margin-top: 74px;
}

/*home page*/
.home-page-background {
    /* Set the background image */
    background-image: url('../images/starfox_arwing.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    height: 92vh ;
}

.info {
    background-color: rgba(245, 245, 245, 0.9); /*transparent 0.9*/
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    margin: 55vh auto;
}

.info > h4 {
    margin-bottom: 1rem;
}

.info > p {
    font-size: 90%;
}
/* center the button in a div*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button styles */
.start-btn {
    padding: 5px 10px;
    margin-top: 1rem;
    background-image: linear-gradient(#FFE9A8, #FFBF00);
    box-shadow: 0 0 10px #FFDC73, rgba(200, 208, 231, .5) 2.2px 2.2px 4px 0px inset, rgba(255, 255, 255, .5) -2.2px -2.2px 4px 0px inset;
    color: #363737;
    border: .5px solid silver;
    border-radius: 5px;
    letter-spacing: .2em;
    cursor: pointer;
    transition-duration: 0.3s;
    text-decoration: none;
}

.start-btn:hover {
    background-image: linear-gradient(#D95105, #F7873F);
    color: white; 
    border-left: 1px solid #DF9A5C;
    border-right: 1px solid #DF9A5C;
}

/*submit button*/
.submit{
background-image: linear-gradient(#FFE9A8, #FFBF00);
box-shadow: 0 0 10px #FFDC73, rgba(200, 208, 231, .5) 2.2px 2.2px 4px 0px inset, rgba(255, 255, 255, .5) -2.2px -2.2px 4px 0px inset;
border: .5px solid silver;
color: #363737;
border-radius: 5px;
padding: 5px 10px;
text-align: center;
letter-spacing: .05rem;
}

/*Pilot section*/

/*pilot page*/
.pilot-page-background {
    /* Set the background image */
    background-image: url('../images/arwing_up_blueprints.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* transparent background colour in pilot section*/
.transparent-color {
    background-color: rgba(221, 221, 221, 0.393);
    padding: 5%;
}

.pilot-selection-text {
    background-image: linear-gradient(#FFE9A8, #FFBF00);
    box-shadow: 0 0 10px #FFDC73, rgba(200, 208, 231, .5) 2.2px 2.2px 4px 0px inset, rgba(255, 255, 255, .5) -2.2px -2.2px 4px 0px inset;
    border: .5px solid silver;
    color: #363737;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: .05rem;
}

/*orange button colour*/
.pilot-selection-text:hover {
    background-image: linear-gradient(#D95105, #F7873F);
    color: white; 
    border-left: 1px solid #DF9A5C;
    border-right: 1px solid #DF9A5C;
}

/*transparent background*/
.transparent {
    background-color: rgba(255, 255, 255, .5);
}

.pilot-info {
    display: flex;
    flex-direction: row;
    /*background-color: rgba(245, 245, 245, 0.9); /*transparent 0.9*/
    max-width: 400px;
    /*border-radius: 5px;*/
    text-align: center;
    /*margin-bottom: 1.5px;
    padding: 10px;*/
    margin-left: auto;
}

label {
    color: white;
    margin: auto 5px;
    font-size: 1rem;
}

.text-input {
    color: #4b4b4b;
    width: 100%;
    margin: 4px;
}

#player-container {
    height: 80%;
    width: 100%;
    position: relative;
}

.pilot-container {
    color: black;
    justify-content: center;
    margin:0 auto;
}

/*text named the same in pilot page*/
.choose-your-pilot {
    Color: #363737;
    background: white;
    border: solid 1px white;
    margin: 10px 0;
    padding: 5px 20px;
    text-align: center;
}

/*colour of background and text of selected pilots name in pilot page*/
.pilot-name-background {
    Color: white;
    background: #5C74A4;
    border: solid 1px white;
    margin: 10px 0;
    padding: 0 25px;
    text-align: center;
}

/* pilot game, div holding headshots of all 5 images*/
#controls {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
/* text instruction and pilot name*/
.character-img {
    width: 6rem;
    display: flex;
    flex: auto; /* Adjusts the image to cover the container */
    object-fit: cover; /* Adjusts the image to fit in the container */
}

/* pilot area including text info, pilot name, picture and pilot info*/ 
.pilot-picture-info {
    display: flex;
    flex-direction: column;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/
    transition: all 0.3s ease-in-out; /* transition for movement between screen sizes */
}

/*in pilot section, large image beside text*/
.left-image-on-card {
    flex: 1;
    margin: auto;
}

.left-image-on-card > img {
    height: 30vh;
}

/*in pilot section, text beside large image*/
.right-text-on-card {
    display: flex;
    flex: 1;
    min-height: 200px;
    border-radius: 5%;
    Color: white;
    background: rgba(92, 116, 164, .8);
    border: solid 1px white;
    margin: 10px 0;
    padding: 0 15px;
    text-align: center;
}

/*in game section, image and text*/
.image-and-text {
    display: flex;
    flex-direction: row;
}

/* to keep the image from taking up more then 50% of the screen */
.image-hold {
    display: flex;
    flex: 1 /* Adjusts the image to cover the container */
}

/*text over pilot info "personality" in pilot section*/
.pilot-center-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self:center;
}

/* pilot select buttons*/
.pilot-btn {
    border: solid 2px whitesmoke;
    padding: 2px;
    transition: all .03s ease; /*ease is to have a slowly change in transition*/ 
    margin: 2px;
}

.pilot-btn:hover {
    border: solid 2px #FFCF40;
    cursor: pointer;
    transform: scale(1.1); 
    transition: .03s;
}

/* game section*/

/*game page*/
.game-name{
    background-color: white;
    color: black;
    display:block;
    margin:0 auto;
}
.game-name-form {
    background: #008DA8;
    width: 90%;
    margin-bottom: 5px;
    border-radius: 0 2px 10px 0;
    box-shadow: 0 2px 4px gray;
}

.game-name h2 {
    text-align: center;
}

.game-name h3 {
    padding: 3px;
    text-align: center;
    font-weight: 200;
}

/*game section gradient */
#game-board {
    background-image: linear-gradient(#5B7AB1, #2A4067);
    margin-bottom: 10px;
    box-shadow: 0 2px 5px gray;
}

/* container within the game board to allow for a gradient behind */
.game-area {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/*container for player image, text/message and score*/
.player-cards {
    max-width: 600px;
    background-color: whitesmoke;
    border: solid 2px orange;
    border-radius: 3px;
    box-shadow: 0 4px 4px gray;
    margin: 3%;
    display: flex;
}

/*players picture in game page*/
.players {
    display:flex;
    flex: 1;
    position: relative;

}

/* codename from input field*/
.game-pilot-name {
    Color: white;
    background: #5C74A4;
    margin-bottom: 10px;
    border-radius: 0 5px 5px 0; /* This will round only the right corners */
}

/*style for input field */
.box-style {
    text-align: center;
    border-radius: 10px;
}

/*computer image*/
.comp {
    display: flex;
    flex: 1;
}

/* flex reverse so computer image is on right*/
.comp-reverse {
    flex-direction: row-reverse;
}

/*hand showing player choice*/
.player-choice {
    background-color: white;
    min-height: 200px;

    /*width: 80%;*/
}

/* container for the 3 buttons*/
.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.your-selection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3%;
}

/* rock, paper, scissors buttons*/
.btn {
    /*border: 10px solid rgba(241,241,241, 0.92);*/
    border-radius: 50%;
    /*box-shadow: 0 0 15px #55D0C9;*/
    box-shadow: 0 0 10px rgba(85, 208, 201, 0.7), rgb(200, 208, 231) 3.2px 3.2px 8px 0px inset, rgb(255, 255, 255) -3.2px -3.2px 8px 0px inset;
    background: radial-gradient(#55ACD0, #2C586A);
    padding: 5px;
    transition: all .03s ease; /*ease is to have a slowly change in transition*/ 
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1); 
    background: radial-gradient(#55D0C9, #2C586A );
    transition: .03s;
}

/*This is the text above and below the 3 buttons for Rock, paper, scissors*/
.btn-inst {
    color: #064159;
    text-align: center;
    letter-spacing: .2em;
    padding: 15px;
}

/* to keep the image from taking up more then 50% of the screen */
.image-size {
    width: 4rem;
    display: flex;
    flex: auto; /* Adjusts the image to cover the container */
    object-fit: cover; /* Adjusts the image to fit in the container */
}

.btn-image-size {
    width: 4.5rem;
    display: flex;
    flex: auto; /* Adjusts the image to cover the container */
}

.choice-image-size {
    width: 5rem;
    display: flex;
    flex: auto; /* Adjusts the image to cover the container */
}

#players-hand {
    /*width: 10rem;
    display: flex;
    flex-grow: 1; Adjusts the image to cover the container */
}

/*div holding the selected choices, hands*/
.win-or-loose {
    /*background-color: white;*/
    border-radius: 50%;
    border: 2px solid silver;
}

.green-highlight{
    background: radial-gradient(#13c11c, #0b870d);
    border-radius: 50%;
}

.red-highlight{
    background: radial-gradient(#f83b3b, #c3170a);
    border-radius: 50%;
}

.grey-highlight{
    background: radial-gradient(#CFCFCF, #9C9B9B);
    border-radius: 50%;
}

.text-box {
    flex-grow: 1.5;
    width: 130px;
    align-self:center;
}

/* number box*/
.score-box {
    flex: 1;
    align-self: center;
    font-size: 2.5rem;
    color: #575757;
    margin: 5px;
}

/* winning text result "You Win" in game page*/
.winning-text {
    width: 6rem;
    color: white;
    font-weight: 500;
}

.center-text {
    text-align: center;
}
.text-white {
    color: white;
}

.left-area img {
    flex: 1;
    min-height: 300px;
    width: 100%; /* Image width will change with the screen width */
    object-fit: cover; /* Adjusts the image to cover the container */
}



/* footer */
footer {
    position:relative;
    width: 100%;
    min-height: 40px;
    background-color: #032855;
    font-size: 80%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/
    text-transform: uppercase;
}

.position-absolute {
    position: absolute;
}

.copyright{
    color: white;
    letter-spacing: .2em;

}

.logo-text {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    padding: 0 5px 0 0;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container{
    margin: auto;
}

.subcontainer{
    width: 90%;
    margin: auto;
}

/* Header and Nav-bar style */

.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

li > a:hover {
    color: silver;  
  }

.hamburger{
    display: none;
    cursor: pointer;
    padding: 0 0 0 5px;
}

/* for the 3 bars that make up the hamburger menu */
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;
}

#home{
    margin-top: 70px; /* placing the section under the header */
    /*border: 1px solid white;*/
    height: 100vh;
}

/* for nav hamburger under 768px. for mobile*/
@media(max-width:768px){
    /* menu changes to links instead of burgermenu at 768px */
    .hamburger{
        display: block;
    }
    /* nav bar vanish */
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    /* nav bar to rotate */
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    /* nav bar to rotate */
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /*size of nav-bar on hamburger click*/
    .nav-menu{
        position: fixed;
        /* menu not visible when positioned off the screen */
        right: -100%;
        top: 70px;
        gap: 20px;
        flex-direction: column;
        background-color: rgba(241,241,241, 0.92); /* 0.98 make the colour only slightly transparent*/
        width: 40%;
        border-radius: 10% 0% 0% 20%; /* slightly different corner radius*/
        text-align: center;
        /* menu will move/slide into position */
        transition: 0.3s;
        padding: 10px;
    }

    .nav-items{
        margin: 16px 0;
    }

    .nav-menu.active{
        right: 0; /*menu is off screen when not active -100%. active brings it back to the screen.*/ 
    }
}

/*Larger devices (768px and up)*/
@media screen and (min-width: 768px) {
    footer {
        position: relative; /*footer goes to bottom on laptop*/
    }
    
    main {
      margin-top: 82px;
    }  
    #menu {
      font-size: 100%;
    }
    #menu > li {
      padding-left: 3rem;
    } 
    .game-area {
        max-width: 600px;
    }
    p {
        font-size: 100%;
    }

    .info > p {
        font-size: 100%;
    }

    h1, h2, h3, h4 {
      font-size: 120%;
    }

    /* large image on pilot page*/
    .left-image-on-card > img {
        height: 40vh;
    }

    /*score number*/
    h2.center-text {
        font-size: 200%;
    }
    /* make the first 4 form inputs flex*/
    .form-input {
      flex: 0 1 48%; /* Make each input take up 48% width on larger screens */
    }
    .btn-image-size {
        width: 6rem;
    }

    .choice-image-size {
        width: 8rem;
    }

    .game-name-form {
        width: 70%;
    }

} 

/*Larger devices (1440px and up)*/
@media screen and (min-width: 1440px) {

    h1, h2, h3, h4 {
        font-size: 140%;
    }
}

@media(min-width:1600px){
    /*.container{
        width: 100%;
    }*/
    h1, h2, h3, h4 {
        font-size: 160%;
    }
    .game-name-form {
        width: 66%;
    }
    
}
