@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;

}

/* body */
/* General styles */
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    /* Generic project style*/
    font-family: 'Inter', sans-serif;
  }
  header h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#4b4b4b;
    font-size: 140%;
}


h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: smaller;
}

/* header*/
header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    background-color: white;

}

/*main*/
.margin-top {
    margin-top: 74px;
}

/*home page*/
.home-page-background {
    /* Set the background image */
    background-image: url('../images/starfox_arwing.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    height: 92vh ;
}

.info {
    background-color: rgba(245, 245, 245, 0.9); /*transparent 0.9*/
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    margin: 60vh auto;
}

.info > h4 {
    margin-bottom: 1rem;
}

.info > p {
    font-size: 80%;
}
/* center the button in a div*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button styles */
.start-btn {
    padding: 5px 10px;
    margin-top: 1rem;
    background-image: linear-gradient(#FFDC73, #FFBF00);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: .2em;
    cursor: pointer;
    transition-duration: 0.3s;
    text-decoration: none;
}

.start-btn:hover {
    background-image: linear-gradient(#D95105, #F7873F);
    color: white; 
    border-left: 1px solid #DF9A5C;
    border-right: 1px solid #DF9A5C;
}

/*Pilot section*/

/*home page*/
.pilot-page-background {
    /* Set the background image */
    background-image: url('../images/arwing_up_blueprints.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    height: 92vh ;
}

.pilot-info {
    background-color: rgba(245, 245, 245, 0.9); /*transparent 0.9*/
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    margin: 60vh auto;
}

/*game*/
.game-name{
    background-color: white;
    color: black;
    display:block;
    margin:0 auto;
}

.game-name h2 {
    padding: 10px;
    text-align: center
}

.game-name h5 {
    padding: 5px;
    text-align: center
}

/*game section gradient */
#game-board {
    background-image: linear-gradient(#5B7AB1, #2A4067);
    /*padding: 1rem 0;*/
}

/* container within the game board to allow for a gradient behind */
.game-area {
    width: 90%;
    /*height: 65vh;*/
    /*max-height: 450px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/*container for player image, text/message and score*/
.player-cards {
    max-width: 600px;
    background-color: whitesmoke;
    border: solid 2px orange;
    border-radius: 3px;
    box-shadow: 0 6px 4px gray;
    margin: 3%;
    display: flex;
}


.players {
    display:flex;
    flex: 1;
    /*justify-content: center;
    align-items: center;*/
}

/*computer image*/
.comp {
    display: flex;
    flex: 1;
}

/* flex reverse so computer image is on right*/
.comp-reverse {
    flex-direction: row-reverse;
}

/*hand showing player choice*/
.player-choice {
    background-color: white;
    min-height: 200px;

    /*width: 80%;*/
}

/* container for the 3 buttons*/
.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.your-selection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3%;
}

/* rock, paper, scissors buttons*/
.btn {
    border: 10px solid silver;
    border-radius: 50%;
    background: radial-gradient(#55ACD0, #2C586A);
    /*width: 100px;*/
    /*height: 100px; without the height you get a 3d effect*/
    /*margin: 0 30px;*/
    padding: 5px;
    transition: all .03s ease; /*ease is to have a slowly change in transition*/ 
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1); 
    background: radial-gradient(#55D0C9, #2C586A );
    transition: .03s;
}

/*This is the text above and below the 3 buttons for Rock, paper, scissors*/
.btn-inst {
    color: #064159;
    text-align: center;
    letter-spacing: .2em;
    padding: 15px;
}

/* to keep the image from taking up more then 50% of the screen */
.image-size {
    width: 4rem;
    /*max-width: 6rem;*/
    display: flex;
    flex: auto; /* Adjusts the image to cover the container */
    object-fit: cover; /* Adjusts the image to fit in the container */
}

.btn-image-size {
    width: 5rem;
    display: flex;
    flex: auto; /* Adjusts the image to cover the container */
}

.choice-image-size {
    width: 5rem;
    display: flex;
    flex: auto; /* Adjusts the image to cover the container */
}

#players-hand {
    /*width: 10rem;
    display: flex;
    flex-grow: 1; Adjusts the image to cover the container */
}
/*div holding the selected choices, hands*/
.win-or-loose {
    /*background-color: white;*/
    border-radius: 50%;
    border: 2px solid silver;
}

.green-highlight{
    background-color: green;
    border-radius: 50%;
}

.red-highlight{
    background-color: red;
    border-radius: 50%;
}

.gray-highlight{
    background-color: silver;
    border-radius: 50%;
}

.text-box {
    flex-grow: 1.5;
    width: 130px;
    /*min-height: 260px; */
    align-self:center;
}

.score-box {
    flex: 1;
    align-self: center;
    font-size: 2.5rem;
    color: #575757;
    margin: 5px;
}

.winning-text {
   /*flex: 1;*/
    width: 6rem;
    color: white;
    font-weight: 500;
}

.center-text {
    /*padding: 5px;*/
    text-align: center;
}

.left-area img {
    flex: 1;
    min-height: 300px;
    width: 100%; /* Image width will change with the screen width */
    object-fit: cover; /* Adjusts the image to cover the container */
}



/* footer */
footer {
    position: relative;
    width: 100%;
    min-height: 40px;
    background-color: #032855;
    font-size: 80%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/
    text-transform: uppercase;
}

.position-absolute {
    position: absolute;
}

.copyright{
    color: white;
    letter-spacing: .2em;

}

.logo-text {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    padding: 0 5px 0 0;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container{
    /*width: 1600px;*/
    margin: auto;
}

.subcontainer{
    width: 90%;
    margin: auto;
}

.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hamburger{
    display: none;
    cursor: pointer;
    padding: 0 0 0 5px;
}

/* for the 3 bars that make up the hamburger menu */
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;
}

#home{
    margin-top: 70px; /* placing the section under the header */
    /*border: 1px solid white;*/
    height: 100vh;
}

/* for nav hamburger under 768px. for mobile*/
@media(max-width:768px){
    /* menu changes to links instead of burgermenu at 768px */
    .hamburger{
        display: block;
    }
    /* nav bar vanish */
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    /* nav bar to rotate */
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    /* nav bar to rotate */
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /*size of nav-bar on hamburger click*/
    .nav-menu{
        position: fixed;
        /* menu not visible when positioned off the screen */
        right: -100%;
        top: 70px;
        gap: 20px;
        flex-direction: column;
        background-color: rgba(241,241,241, 0.92); /* 0.98 make the colour only slightly transparent*/
        width: 40%;
        border-radius: 10% 0% 0% 20%; /* slightly different corner radius*/
        text-align: center;
        /* menu will move/slide into position */
        transition: 0.3s;
        padding: 10px;
    }

    .nav-items{
        margin: 16px 0;
    }

    .nav-menu.active{
        right: 0; /*menu is off screen when not active -100%. active brings it back to the screen.*/ 
    }
}

/*Larger devices (768px and up)*/
@media screen and (min-width: 768px) {
    footer {
        position: relative; /*footer goes to bottom on laptop*/
    }
    
    main {
      margin-top: 82px;
    }  
    #menu {
      font-size: 100%;
    }
    #menu > li {
      padding-left: 3rem;
    } 
    .game-area {
        max-width: 600px;
    }
    p {
        font-size: 100%;
    }

    .info > p {
        font-size: 100%;
    }

    h1, h2, h3, h4 {
      font-size: 120%;
    }
    /*score number*/
    h2.center-text {
        font-size: 200%;
    }
    /* make the first 4 form inputs flex*/
    .form-input {
      flex: 0 1 48%; /* Make each input take up 48% width on larger screens */
    }
    .btn-image-size {
        width: 6rem;
    }

   /* .image-size {
        width: 8rem;
    }*/

    .choice-image-size {
        width: 8rem;
    }

} 

/*Larger devices (1440px and up)*/
@media screen and (min-width: 1440px) {

    h1, h2, h3, h4 {
        font-size: 140%;
      }
}

@media(min-width:1600px){
    /*.container{
        width: 100%;
    }*/
    h1, h2, h3, h4 {
        font-size: 160%;
      }
}

/* menu 

.menu {
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

js
.menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: grey;
}

.hamburger-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.hamburger-menu span {
    height: 5px;
    width: 100%;
    background-color:azure;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamburger-menu span:nth-child(1){
    top: 25%;
}

.hamburger-menu span:nth-child(3){
    top: 75%;
}
*/